/*
TITLE: PantherTech CSS
AUTHOR: Dylan Barkley (DGB)
CREATE DATE: 6 Dec 2023
LAST MODIFIED ON: - 25 Nov 2023
LAST MODIFIED BY: Dylan Barkley (DGB)
*/
body{
    background-color: #CBC6B0;
    margin: 0;
}

.navContainer {
    display: flex;
    flex-direction: row;
    background-color: #4C4940;
}
/*Changes for mobile devices*/
@media (max-width: 800px) {
    .navContainer {
      flex-direction: column;
    }
}
/*Changes for desktop devices. In reality, I probably should only have one of these
@media (min-width: 801px) {
    h1{
        font-size: 2em;
    }
}*/
.navContainer > div{
    background-color: #CFCAB5;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}
.toggleMenuBar{
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

h1{
    font-size: 3em;
    text-align: center;
    color: #4C4940;
}
h3{
    text-align: center;
    color: #4C4940;
    margin:0;
}
p{
    text-align: center;
    color: #4C4940;
    margin:0;
}
a{
    color: #4C4940;
}
li{ 
    color: #4C4940;
}
#sponsorDiv{
    text-align: center;
}
#sponsorDiv > ul{
    display: inline-block;
    text-align: left;
    font-size: 2em;
}
#faqDiv{
    text-align: left;
}
#faqDiv > ol{
    display: inline-block;
    text-align: left;
    font-size: 2em;
}